
#projects {
    background-color: rgb(216, 0, 0) ;
}
section {
    padding-top:5rem ;
}

.progress {
    height: 15px;
}
.skill {
    padding: 40px;

}
p {
    text-align: left;
}
#contact {
    background-color: coral ;
}